<h2>Ironhack Cinema</h2>
<h3>Click on the movie to check the showtimes!</h3>
<div>
    {{#each movieList}}
    <div class="card">
        <img src="{{image}}">
        <div>
            <h2>{{title}}</h2>
            <a href="">See more</a>
        </div>
    </div>
    {{/each}}
</div>